@import "tailwindcss";

@font-face {
    font-family: 'LarkenRegular';
    src: url('/fonts/LarkenRegular.woff2') format('woff2');
}

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'LarkenRegular', ui-serif, Georgia, Cambria, serif;

    --color-primary: rgb(30, 94, 66);
    --color-brandNeutral: #333;
    --color-accent: #F7F7F7;

    --animate-fadeIn: fadeIn .4s forwards;
    --animate-jump: jump 3s linear infinite;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes jump {
        0% {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
        
        50% {
            -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
        }
        100% {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }
}

@layer components {
    section {
        @apply my-16 lg:my-32;
    }
    .sec_container {
        margin-left: auto;
        margin-right: auto;
        padding-left: clamp(1.5rem, calc(3.57143vw + 1.14286px), 3.5rem);
        padding-right: clamp(1.5rem, calc(3.57143vw + 1.14286px), 3.5rem);
        width: 100%;
    }
    .grid-main {
        -moz-column-gap: 24px;
        column-gap: 24px;
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        @apply md:gap-14;
    }
    .nav-link {
        font-size: clamp(.625rem, calc(.17361vw + 8.88889px), .75rem);
        margin-right: 3rem;
        text-transform: uppercase;
        line-height: clamp(1.46875rem, calc(.50223vw + 20.28571px), 1.75rem);
    }
    h1, .heading {
        font-size: clamp(3rem, calc(3.57143vw + 25.14286px), 5rem);
        line-height: clamp(3.5rem, calc(3.57143vw + 33.14286px), 5.5rem);
    }
    .sec_heading {
        font-size: clamp(1.375rem, calc(2.00893vw + 9.14286px), 2.5rem);
        line-height: clamp(1.875rem, calc(2.00893vw + 17.14286px), 3rem);
    }
    blockquote {
        font-size: clamp(1.75rem, calc(1.33929vw + 19.42857px), 2.5rem);
        line-height: clamp(2.25rem, calc(1.33929vw + 27.42857px), 3rem);
        font-weight: 300;
        margin-top: 2rem;
    }
    .fields-style {
        @apply border-b border-primary pb-2 outline-none;
    }
    .link-after .link-container {
        display: inline-block;
        height: .75em;
        overflow: hidden;
        position: relative;
        width: .8em;
    }
    .link-after .link-container .hover-arrow, .link-after .link-container .init-arrow {
        left: 0;
        position: absolute;
        top: 0;
        transition: transform .3s ease-in-out;
    }
    .link-after .link-container .hover-arrow {
        --tw-translate-x: -100%;
        --tw-translate-y: 100%;
        transform: translate(-100%, 100%) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    #footer a, #footer a *, .sm_heading {
        font-size: clamp(.875rem, 14px, .875rem);
        font-weight: 300;
        line-height: clamp(1.1875rem, 19px, 1.1875rem);
    }
    #footer a {
        align-items: center;
        display: flex;
        margin-bottom: 1rem;
        text-decoration-line: none !important;
    }
    p {
        font-size: clamp(1.125rem, 18px, 1.125rem);
        line-height: clamp(1.46875rem, calc(.50223vw + 20.28571px), 1.75rem);
    }
    .video {
        height: calc(100vh - (100px) - (clamp(1.5rem, calc(.03571428571428571 * (100vw - 640px) + 24px), 3.5rem)));
    }

    .inner-overlay-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: scroll;
        position: relative;
        width: 100%;
    }
    .close-overlay {
        cursor: pointer;
        display: block;
        left: 1rem;
        position: absolute;
        top: 1rem;
        z-index: 10;
    }
    .main-navigation-wrapper {
        --tw-bg-opacity: 1;
        background-color: #1e5e42;
        background-color: rgb(30 94 66 / var(--tw-bg-opacity));
        padding: 5rem clamp(1.5rem, calc(3.57143vw + 1.14286px), 3.5rem) 3rem;
        width: 100%;
    }
    .main-header li {
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        margin-top: 1rem;
    }
    .main-header, .main-header li {
        display: flex;
        margin-bottom: 0;
    }
    .main-header li a {
        hyphenate-limit-chars: 7 2 2;
        --tw-border-opacity: .2;
        --tw-text-opacity: 1;
        border-color: rgb(255 255 255 / var(--tw-border-opacity));
        border-radius: 9999px;
        border-width: 1px;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        font-size: clamp(1.375rem, calc(2.00893vw + 9.14286px), 2.5rem);
        /* line-height: 1; */
        line-height: clamp(1.875rem, calc(2.00893vw + 17.14286px), 3rem);
        padding: 1rem 1.5rem;
        text-decoration-line: none;
        text-transform: uppercase;
    }


    .blog-content > h2 {
        font-size: clamp(1.375rem, calc(2.00893vw + 9.14286px), 2.5rem);
        line-height: clamp(1.875rem, calc(2.00893vw + 17.14286px), 3rem);
        margin-block: 1.25rem;
        font-family: var(--font-serif);
    }
    .blog-content > p {
        margin-bottom: .75rem;
        font-size: clamp(1rem, calc(1.33929vw + 19.42857px), 1.25rem);
        /* line-height: clamp(2.25rem, calc(1.33929vw + 27.42857px), 3rem); */
        font-weight: 300;
    }
    .blog-content > p > strong {
        font-weight: 500;
    }
    .blog-content > ul {
        list-style: dot;
        padding-left: 1.25rem;
    }
}

blockquote > span {
    font-weight: 500;
}


/* Customize navigation buttons */
.swiper-button-prev,
.swiper-button-next {
  color: var(--color-brandNeutral);
}

/* Customize pagination */
.swiper-pagination-bullet {
    height: 4px;
    width: 30px;
    border-radius: 0;
}
.swiper-pagination-bullet-active {
    background: var(--color-brandNeutral);
}